<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
        <!--HTTP/HTTPS logs from selenium 4 and WebDriverManager limitation to INFO level-->
        <logger name="io.github.bonigarcia.wdm" level="INFO"/>
        <logger name="io.netty" level="INFO"/>
        <logger name="org.asynchttpclient" level="INFO"/>
    </Loggers>
</Configuration>